/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* common style */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.color-pink {
    color: #FF42A5;
}

.color-violet {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* navbar style */

.navbar {
    max-width: 1920px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.navbar-content {
    max-width: 1440px;
    height: 130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 86.041px;
    height: 40px;
}

.logo-title {
    font-size: 45px;
    font-weight: 700;
}

.nav-link {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
}

.nav-link a {
    text-decoration: none;
}

.nav-follow-link {
    border-radius: 8px;
    padding: 18px 24px;
    background-color: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-follow-link p,
.nav-link a {
    font-size: 18px;
    color: #3C354F;
    font-weight: 500;
}

/* banner style */

.banner {
    max-width: 1920px;
}

.banner-content {
    margin-right: 230px;
    height: 700px;
    display: flex;
    justify-content: space-between;
}

.bg-img {
    width: 100%;
    height: 100%;
}

.banner-text {
    background-image: url(./images/Group-14.png);
    background-repeat: no-repeat;
    padding: 148px 309px 148px 244px;
    width: 100%;
}

.banner-text h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-text h1 {
    width: min-content;
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-img {
    margin-top: 28px;
}

.banner-img img {
    max-width: 711px;
}

.banner-description {
    margin-top: 24px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.banner-description p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.text-1,
.text-2,
.text-3 {
    display: flex;
    gap: 12px;
    align-items: flex-start;
    width: max-content;
}

.banner-btn {
    display: flex;
    width: max-content;
}

.btn-pink {
    padding: 21px 40px;
    background-color: #FF42A5;
    border: none;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: Work Sans;
    margin-right: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-blue {
    padding: 21px 40px;
    background-color: #4EC5F7;
    border: none;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: Work Sans;
    text-transform: uppercase;
    cursor: pointer;
}


/* video section style */

main {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
}

.video-heading {
    text-align: center;
}

.video-heading p {
    margin-top: 16px;
    margin-bottom: 48px;
}

.title-primary {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.video-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
}

.video-card p {
    margin-top: 24px;
}

.img-container {
    position: relative;
    display: flex;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    opacity: 0;
    border-radius: 16px;
    transition: all .3s;
}

.overlay:hover {
    opacity: 1;
}

.overlay p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #FF42A5;
}


/* play section style */

.play-section {
    margin-top: 120px;
    margin-bottom: 120px;
}

.play-content {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-content: center;
}

.play-text {
    margin-left: 200px;
    margin-top: 170px;
}


.text-align {
    margin-top: 24px;
    text-align: right;
}

.line-height {
    line-height: 25px;
}

.play-img {
    position: relative;
}

.badge-img {
    position: absolute;
    left: -150px;
    bottom: -70px;
}

/* category section style   */


.category-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    max-width: 1920px;
    padding: 100px;
}

.category-content {
    max-width: 1500px;
    margin: 0 auto;
}

.category-btn {
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 20px;
    transition: border .2s;
}

.category-btn p {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    width: max-content;
    transition: color .3s;
}

.category-btn:nth-child(6) {
    margin-left: 120px;
}

.category {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 20px;
}

.category-btn {
    border: 2px solid transparent;
    cursor: pointer;
}


.category-btn:hover {
    border: 2px solid #FF42A5;
}

.category-btn:hover p {
    color: #FF42A5;
}


/* footer style */

.footer {
    max-width: 1920px;
    background-color: #0B0223;
    padding: 70px 100px;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-link {
    margin-top: 70px;
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 60px;
    cursor: pointer;
    list-style: none;
    flex-wrap: wrap;
}


.footer-social {
    margin-top: 60px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;

}


.footer-terms {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    list-style: none;
    color: rgba(255, 255, 255, 0.60);
    cursor: pointer;
}

.copyright {
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-white {
    color: white;
}

.flex-center {
    display: flex;
    justify-content: center;
}



/* Media query for mobile */

@media screen and (max-width:425px) {


    /* ////// navbar ///// */

    .navbar {
        margin-top: 50px;
        box-shadow: none;
        
    }

    .navbar-content {
        flex-direction: column;
        gap: 60px;
    }

    .nav-link {
        flex-direction: column;
    }

    /* ////// banner ////// */

    .banner {
        margin-top: 220px;
        width: 100%;
        
    }

    .banner-content {
        flex-direction: column;
    }

    .banner-text {
        text-align: center;
        padding: 0;
        background-image: none;
        margin-left: 80px;
    }

    .banner-text h2 {
        width: max-content;
        font-size: 35px;
    }

    .banner-text h1 {
        font-size: 70px;
    }

    .banner-description p {
        font-size: 14px;
    }

    .text-1,
    .text-2,
    .text-3 {
        align-items: center;
    }

    .banner-img img {
        margin-left: 80px;
        width: 250px;
    }

    .btn-pink {
        padding: 21px 35px;
        border-radius: 48px;
        font-size: 14px;
        font-weight: 600;
        margin-right: 15px;
    }

    .btn-blue {
        padding: 21px 30px;
        border-radius: 48px;
        font-size: 14px;
        font-weight: 600;
    }

    /* ///// video section ///// */

    .video-section {
        margin-top: 30px;
        
    }

    .video-card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
        margin-left: 42px;
    }

    .video-card {
        margin-left: 50px;
    }

    .video-card img {
        width: 60vw;
    }

    .video-card p {
        width: 75%;
        font-size: 14px;
        text-align: center;
    }

    .video-heading p {
        width: 70%;
        text-align: center;
        margin-left: 65px;
    }


    .title-primary {
        font-size: 30px;
    }

    .text-width {
        width: 100%;
    }


    /* /////// play section ////// */


    .play-content {
        margin-top: -230px;
        flex-direction: column;
        
    }


    .text-width {
        width: 50%;
        margin: 0 auto;
    }


    .play-text {
        margin-left: 20px;
    }

    .text-align {
        text-align: center;
    }

    .play-img .main-img {
        width: 60%;
        margin-top: 30px;
        margin-left: 100px;
    }

    .play-img .badge-img {
        width: 25%;
        left: 48px;
        bottom: -25px;
    }

    /* category */

    .category-section {
        
        padding-left: 0;
        padding-right: 0;
    }

    .category {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 50px;
    }

    .category-btn {
        width: max-content;
        gap: 15px;
        padding: 5px 10px;
    }

    .category-btn img {
        width: 50px;
    }

    .category-btn p {
        width: 60px;
        font-size: 12px;
    }

    .category-btn:nth-child(6) {
        margin-left: 0px;
    }
    

    .footer-link {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        column-gap: 20px;
        row-gap: 40px;
    }

    .footer-terms {
        display: grid;
        grid-template-columns: repeat(2, 180px);
        column-gap: 20px;
        row-gap: 40px;
        justify-items: center;
        
    }
}


/* Media query for tablet */

@media screen and (min-width:426px) and (max-width:768px) {
    .navbar {
        box-shadow: none;
    }

    .banner-content {
        flex-direction: column;
    }

    .banner-text {
        padding: 100px 100px 100px 210px;
    }

    .navbar-content {
        flex-direction: column;
        gap: 30px;
    }

    .banner {
        margin-top: 50px;
    }

    .banner-img img {
        margin-left: 80px;
        width: 600px;
    }

    .video-section {
        margin-top: 600px;
    }

    .video-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        margin-left: 42px;
    }

    .play-content {
        flex-direction: column;
    }

    .category-section {
        padding-left: 50px;
    }

    .category {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .category-btn {
        gap: 15px;
        padding: 5px;
    }

    .category-btn img {
        width: 50px;
    }

    .category-btn p {
        font-size: 12px;
    }

    .category-btn:nth-child(6) {
        margin-left: 0px;
    }
}