/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* common style */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

span {
    color: #FF42A5;
}

/* navbar style */

.navbar {
    max-width: 1920px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.navbar-content {
    max-width: 1440px;
    height: 130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 86.041px;
    height: 40px;
}

.logo-title {
    font-size: 45px;
    font-weight: 700;
}

.nav-link {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
}

.nav-link a {
    text-decoration: none;
}

.nav-follow-link {
    border-radius: 8px;
    padding: 18px 24px;
    background-color: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-follow-link p, .nav-link a {
    font-size: 18px;
    color: #3C354F;
    font-weight: 500;
}

/* banner style */

